/* Resets */
hr {
    margin-left: 0;
    max-width: 40px;
  }
  
  /* Jumbotron (hero) */
  .jumbotron {
    position: relative;
    background: url('../../../../assets/cafeteria.jpg') no-repeat bottom center / cover;
    /* Elimina los estilos de la pseudo-clase :before */
    /* ... otros estilos ... */
  
    .container {
      padding: 200px 0;
    }
  
    h1,
    .lead {
      color: #fff;
    }
  }

/* Estilos para la segunda imagen */
.jumbotron-2 {
    position: relative;
    background: url('../../../../assets/tazas.jpg') no-repeat;
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor sin deformarla */
    background-position: center; /* Centra la imagen en el contenedor */
    /* Otros estilos */
  }
  
  /* Estilos para la tercera imagen */
  .jumbotron-3 {
    position: relative;
    background: url('../../../../assets/postre.jpg') no-repeat;
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor sin deformarla */
    background-position: center; /* Centra la imagen en el contenedor */
    /* Otros estilos */
  }
  
  /* Bustom button */
  .btn-primary {
    background: #1096fc;
    border: 0;
  
    &:hover {
      background: darken(#1096fc, 7%);
    }
  }
  
  /* Features */
  .sec-features {
    .row {
      &:nth-of-type(n+2) {
        margin-top: 160px;
      }
  
      &:last-of-type {
        margin-bottom: 160px;
      }
    }
  
    .feature-icon {
      max-width: 150px;
    }
  }
  
  /* Footer */
  .footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background: #212121;
  
    li {
      &:nth-of-type(n+2) {
        margin-left: 8px;
      }
    }
  
    a {
      font-size: 18px;
      color: rgba(255, 255, 255, .5);
      transition: color .235s ease-in-out;
  
      &:focus,
      &:hover {
        color: rgba(255, 255, 255, .25);
      }
    }
  }
  