<div class="card">

    <!-- Table title  -->
  
    <div class="card-header">
      <div class="row">
        <div class="col-md">
          <h5 class="table-title">Regiones</h5>
        </div>
        <div class="col-md">
          <button type="button" class="btn btn-primary btn-new" (click)="showModalForm()">
            <i class="ph ph-plus icon-text-button"></i>
            Nueva región
          </button>
        </div>
      </div>
    </div>
  
    <!-- Table content -->
  
    <div class="card-body">
      <table class="table">
        <thead>
          <tr class="table-primary">
            <th>No.</th>
            <th>Código</th>
            <th>Región</th>
            <th>Estatus</th>
            <th>Más</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let region of regions; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ region.code }}</td>
            <td>{{ region.region }}</td>
            <td>
              <div class="td-status"
              [ngClass]="{'td-status-disable': region.status == 1, 'td-status-enable': region.status == 0}" >
                {{ region.status == 0 ? "Inactivo" : "Activo" }}
              </div>
            </td>
            <td>
              <div class="dropdown">
                <button class="dropdown-button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="ph ph-dots-three-outline-vertical icon-menu"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="updateRegion(region)">
                    <i class="ph ph-pencil-circle icon-text-ul"></i>Editar
                  </a>
                  <a *ngIf="region.status == 0" class="dropdown-item enable-item" (click)="enableRegion(region.region_id)">
                    <i class="ph ph-check-fat icon-text-ul"></i> Activar
                  </a>
                  <a *ngIf="region.status == 1" class="dropdown-item disable-item" (click)="disableRegion(region.region_id)">
                    <i class="ph ph-prohibit icon-text-ul"></i> Desactivar
                    
                  </a>
                </div>
              </div>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <!-- Modal form  -->
  
  <div class="modal fade" data-bs-backdrop="static" tabindex="-1" role="dialog" id="modalForm">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ regionUpdated == 0? "Registrar": "Actualizar" }} región</h5>
          <button type="button" class="modal-close-button" data-bs-dismiss="modal" aria-label="Close">
            <span class="modal-close-button-x">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          <!-- form  -->
  
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
  
            <!-- region  -->
  
            <div class="form-group">
              <label for="region">Región <span class="color-red">*</span> </label>
              <input type="text" class="form-control" formControlName="region" id="region" placeholder="Nombre de la región..." 
                [ngClass]="{'is-invalid': form.controls['region'].errors && submitted}" >
              <div *ngIf="form.controls['region'].errors && submitted">
                <small class="color-red">Favor de ingresar una región válida</small>
              </div>
            </div>
  
            <!-- code  -->
  
            <div class="form-group">
              <label for="code">Código <span class="color-red">*</span> </label>
              <input type="text" class="form-control" formControlName="code" id="code" placeholder="Código de la región..." 
                [ngClass]="{'is-invalid': form.controls['code'].errors && submitted}" >
              <div *ngIf="form.controls['code'].errors && submitted">
                <small class="color-red">Favor de ingresar un código de región válido</small>
              </div>
            </div>
  
            <!-- button  -->
            
            <div class="form-button">
              <button type="submit" class="btn btn-primary btn-form">Guardar</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </div>
  