<div class="card-header">
  <div class="row">
    <div class="col-md">
      <span class="btn-return" (click)="redirect(['product'])">
        <i class="ph ph-arrow-circle-left icon-text-button"></i>
        Regresar
      </span>
    </div>
    <div class="col-md">
      <span class="edit-product" (click)="updateProduct()">
        <i class="ph ph-pencil-circle icon-text-ul"></i>
        Editar producto
      </span>
    </div>
  </div>
</div>
<br>
<div class="card-body">
  <div class="row">
    <!-- product image -->
    <div class="col-md-4">
      <div class="card">
        <div class="edit-product-image text-center">
          <span for="uploadImage" class="cursor-pointer">
            <input type="file" (change)="fileChangeHandler($event)" id="uploadImage" style="display:none">
            <i class="ph ph-pencil-circle icon-text-ul"></i>
            Añadir imagen
          </span>
        </div>
      </div>
      <!-- Contenido del carrusel -->
      <div class="container">
        <div class="box">
          <div class="product-img">
            <!-- Mostrar imágenes aquí -->
            <div id="carouselExample" class="carousel slide">
              <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                  <!-- Verifica si hay imágenes de producto, si no, muestra la imagen predeterminada -->
                  <ng-container *ngIf="productImages && productImages.length > 0; else defaultImage">
                    <div class="carousel-item" *ngFor="let productImage of productImages; let i = index" [class.active]="i === 0">
                      <img [src]="productImage.image" class="d-block w-100" alt="Image {{i + 1}}">
                      <span (click)="deleteImage(productImage.product_image_id)" class="delete-span">
                        <i class="ph ph-trash icon-text-ul"></i>
                        Eliminar
                      </span>
                    </div>
                  </ng-container>
                  <ng-template #defaultImage>
                    <!-- Muestra la imagen predeterminada si no hay imágenes de producto -->
                    <div class="carousel-item active">
                      <img src="assets/descarga.png" class="d-block w-100" alt="Image predeterminada">
                      <!-- No necesitas el botón Eliminar para la imagen predeterminada -->
                    </div>
                  </ng-template>
                </div>
              
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" ariahidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
          <div class="product-info">
            <div class="col-md-8">
              
                <div class="card-body-customer">
                 
                  <div class="product-info">
                    <div class="product-title">
                      {{ product.product }}
                    </div>
                    <ul>
                      <li>
                        <strong>GTIN:</strong> {{ product.gtin }}
                      </li>
                      <li>
                        <strong>Descripción:</strong>  {{ product.description }}
                      </li>
                      <li>
                        
                        <strong>Stock:</strong> {{ product.stock }}
                      </li>
                      <li>
                       <span class="price-highlight">${{ product.price }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              
            </div>
            <div class="col-md-8">
              
                <div class="card-body-customer">
                  <select class="qty">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                  <br /><br />
                  
                </div>
                
             
              <button type="button" class="btn btn-success btn btn-primary btn-lg">Añadir al carro</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>


<!-- Modal form -->
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar producto</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
            <!-- product name -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="product">Nombre <span class="color-red">*</span></label>
                <input type="text" class="form-control" formControlName="product" id="product"
                       placeholder="Nombre del producto..."
                       [ngClass]="{'is-invalid': form.controls['product'].errors && submitted}">
                <div *ngIf="form.controls['product'].errors && submitted">
                  <small class="color-red">Favor de ingresar un nombre válido</small>
                </div>
              </div>
            </div>
            <!-- GTIN -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="gtin">GTIN <span class="color-red">*</span></label>
                <input type="text" class="form-control" formControlName="gtin" id="gtin" placeholder="GTIN del producto..."
                       [ngClass]="{'is-invalid': form.controls['gtin'].errors && submitted}">
                <div *ngIf="form.controls['gtin'].errors && submitted">
                  <small class="color-red">Favor de ingresar un GTIN válido</small>
                </div>
              </div>
            </div>
            <!-- Description -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="description">Descripción <span class="color-red">*</span></label>
                <input type="text" class="form-control" formControlName="description" id="description"
                       placeholder="Descripción del producto..."
                       [ngClass]="{'is-invalid': form.controls['description'].errors && submitted}">
                <div *ngIf="form.controls['description'].errors && submitted">
                  <small class="color-red">Favor de ingresar una descripción válida</small>
                </div>
              </div>
            </div>
            <!-- Price -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="price">Precio <span class="color-red">*</span></label>
                <input type="text" class="form-control" formControlName="price" id="price" placeholder="Precio del producto..."
                       [ngClass]="{'is-invalid': form.controls['price'].errors && submitted}">
                <div *ngIf="form.controls['price'].errors && submitted">
                  <small class="color-red">Favor de ingresar un precio válido</small>
                </div>
              </div>
            </div>
            <!-- Stock -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="stock">Existencia <span class="color-red">*</span></label>
                <input type="text" class="form-control" formControlName="stock" id="stock" placeholder="Existencia del producto..."
                       [ngClass]="{'is-invalid': form.controls['stock'].errors && submitted}">
                <div *ngIf="form.controls['stock'].errors && submitted">
                  <small class="color-red">Favor de ingresar una existencia válida</small>
                </div>
              </div>
            </div>
            <!-- Category -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="category_id">Categoría <span class="color-red">*</span></label>
                <select class="form-select" formControlName="category_id" id="category_id"
                        [ngClass]="{'is-invalid': form.controls['category_id'].errors && submitted}">
                  <option [ngValue]="null" hidden>Selecciona una categoría...</option>
                  <ng-container *ngFor="let category of categorys">
                    <option [ngValue]="category.category_id">{{ category.category }}</option>
                  </ng-container>
                </select>
                <div *ngIf="form.controls['category_id'].errors && submitted">
                  <small class="color-red">Favor de seleccionar una categoría válida</small>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
<button type="button" class="btn btn-primary" (click)="saveChanges()">Guardar Cambios</button>
</div>
