/* .card {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
} */

.card-body-product{
    padding: 16px;
}

.product-image{
    border-radius: 100%;
    width: 240px;
    height: 240px;
}

.edit-product{
    color: blue;
    cursor: pointer;
    float: right;
    margin-right: 16px;
}

.edit-product-image{
    color: blue;
    margin-bottom: 16px;
}

.product-title{
    font-size: 32px;
    margin-bottom: 16px;
}

.carousel-control-next-icon {
    background-color: green;
}
.carousel-control-prev-icon{
    background-color: green;
}


  