<div class="body-content">
  <div class="card">
    <!-- Table title  -->
    <div class="card-header">
      <div class="row">
        <div class="col-md">
          <h4>Listado de postres</h4>
        </div>
        <div class="col-md">
          <!-- Botón para mostrar el modal del formulario -->
          <button type="button" class="btn btn-primary btn-new" (click)="showModalForm()"><i class="ph ph-plus"></i>Nuevo postre </button>
        </div>
      </div>
    </div>

    <!-- Table content -->
    <div class="card-body">
      <table class="table">
        <thead>
          <tr class="table-primary">
            <th>ID</th>
            <th>Código</th>
            <th>Postre</th>
            <th>Estatus</th>
            <th>Más</th>
          </tr>
        </thead>
        <tbody>
          <!-- Utiliza ngFor para iterar sobre las categorías -->
          <tr *ngFor="let category of categories">
            <td>{{ category.category_id }}</td>
            <td>{{ category.code }}</td>
            <td>{{ category.category }}</td>
            <td>
              <div class="td-status"
            [ngClass]="{'td-status-enable': category.status == 1, 'td-status-disable': category.status == 0}" >
              {{ category.status == 0 ? "Entregado" : "Sin entregar" }}
            </div>
              
            </td>
            <td>
              <div class="dropdown">
                <button class="dropdown-button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="ph ph-dots-three-circle-vertical icon-menu"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="updateCategory(category)">
                    <i class="ph ph-pencil-circle icon-text-ul"></i>Editar
                  </a>
                  <a *ngIf="category.status == 0" class="dropdown-item enable-item" (click)="enableCategory(category.category_id)">
                    <i class="ph ph-check-square icon-text-ul"></i> Activar
                  </a>
                  <a *ngIf="category.status == 1" class="dropdown-item disable-item" (click)="disableCategory(category.category_id)">
                    <i class="ph ph-x-square icon-text-ul"></i> Desactivar
                  </a>
                </div>
              </div>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal form  -->
  <div class="modal fade" data-bs-backdrop="static" tabindex="-1" role="dialog" id="modalForm">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- Título del modal -->
          <h5 class="modal-title">Nuevo postre  </h5> 
          <button type="button" class="modal-close-button" data-bs-dismiss="modal" aria-label="Close">
            <span class="modal-close-button-x">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Formulario para agregar una nueva categoría -->
          <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <!-- Campo de código de categoría -->
            <div class="form-group">
              <label for="code">Código <span class="color-red">*</span> </label>
              <input type="text" class="form-control" formControlName="code" id="code" placeholder="Código del postre..." [ngClass]="{'is-invalid': form.controls['code'].errors && submitted}">
              <div *ngIf="form.controls['code'].errors && submitted">
                <small class="color-red">Favor de ingresar un código de postre válido</small>
              </div>
            </div>

            <!-- Campo de nombre de categoría -->
            <div class="form-group">
              <label for="category">Postre <span class="color-red">*</span> </label>
              <input type="text" class="form-control" formControlName="category" id="category" placeholder="Nombre del postre..." [ngClass]="{'is-invalid': form.controls['category'].errors && submitted}">
              <div *ngIf="form.controls['category'].errors && submitted">
                <small class="color-red">Favor de ingresar un postre válido</small>
              </div>
            </div>

            <!-- Botón para guardar el formulario -->
            <div class="form-button">
              <button type="submit" class="btn btn-primary btn-form">Guardar</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
