/* .card {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
} */

.card-body-customer{
    padding: 16px;
}

.customer-image{
    border-radius: 100%;
    width: 240px;
    height: 240px;
}

.edit-customer{
    color: blue;
    cursor: pointer;
    float: right;
    margin-right: 16px;
}

.edit-customer-image{
    color: blue;
    margin-bottom: 16px;
}

.customer-title{
    font-size: 32px;
    margin-bottom: 16px;
}