<div class="card-header">
    <div class="row">
        <div class="col-md">
            <span class="btn-return" (click)="redirect(['customer'])">
                <i class="ph ph-arrow-circle-left icon-text-button"></i>
                Regresar
            </span>
        </div>
        
        <div class="col-md">
            <span class="edit-customer" (click)="updateCustomer()">
                <i class="ph ph-note-pencil icon-text-button"></i>
                Editar cliente
            </span>
        </div>
    </div>
</div>
<br>

<div class="card-body">
    <div class="row">

        <!-- customer image  -->
    
        <div class="col-md-4">
            <div class="card">
                <div class="card-body-customer text-center">
                    <img src="{{ customer.image.image != '' ? customer.image.image: 'assets/img/user_logo.jpg' }}" alt="..." class="img-thumbnail customer-image">
                </div>
                <div class="edit-customer-image text-center">
                    <label for="uploadImage" class="cursor-pointer">
                        <input type="file" (change)="fileChangeHandler($event)" id="uploadImage" style="display:none">
                        <i class="ph ph-note-pencil icon-text-button"></i>
                        Editar imagen
                    </label>
                </div>
            </div>
        </div>
    
        <!-- customer data  -->
    
        <div class="col-md-8">
            <div class="card">
                <div class="card-body-customer">

                    <!-- name  -->

                    <div class="customer-title">
                        {{ customer.name + " " + customer.surname }}
                    </div>

                    <table class="table">
                        <tbody>
                            
                            <!-- rfc  -->
                            <tr>
                                <th class="col-md-4">RFC</th>
                                <td>{{ customer.rfc }}</td>
                            </tr>
                                
                            <!-- mail  -->
                            <tr>
                                <th class="col-md-4">Correo electrónico</th>
                                <td>{{ customer.mail }}</td>
                            </tr>
                                
                            <!-- region  -->
                            <tr>
                                <th class="col-md-4">Región</th>
                                <td>{{ region.region }}</td>
                            </tr>
                            
                            <!-- rfc  -->
                            <tr>
                                <th class="col-md-4">Dirección</th>
                                <td>{{ customer.address }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
    </div>
</div>


<!-- Modal form  -->
  
<div class="modal fade" data-bs-backdrop="static" tabindex="-1" role="dialog" id="modalForm">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Registrar cliente</h5>
          <button type="button" class="modal-close-button" data-bs-dismiss="modal" aria-label="Close">
            <span class="modal-close-button-x">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          <!-- form  -->
  
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
  
            
            <div class="row">

                <!-- name  -->

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Nombre <span class="color-red">*</span> </label>
                        <input type="text" class="form-control" formControlName="name" id="name" placeholder="Nombre del cliente..." 
                            [ngClass]="{'is-invalid': form.controls['name'].errors && submitted}" >
                        <div *ngIf="form.controls['name'].errors && submitted">
                            <small class="color-red">Favor de ingresar un nombre válido</small>
                        </div>
                    </div>
                </div>
      
                <!-- surname  -->
      
                <div class="col-md-6"> 
                    <div class="form-group">
                    <label for="surname">Apellidos <span class="color-red">*</span> </label>
                    <input type="text" class="form-control" formControlName="surname" id="surname" placeholder="Apellidos del cliente..." 
                        [ngClass]="{'is-invalid': form.controls['surname'].errors && submitted}" >
                    <div *ngIf="form.controls['surname'].errors && submitted">
                        <small class="color-red">Favor de ingresar apellidos válidos</small>
                    </div>
                    </div>
                </div>
      
                <!-- rfc  -->
      
                <div class="col-md-6"> 
                    <div class="form-group">
                    <label for="rfc">RFC <span class="color-red">*</span> </label>
                    <input type="text" class="form-control" formControlName="rfc" id="rfc" placeholder="RFC del cliente..." 
                        [ngClass]="{'is-invalid': form.controls['rfc'].errors && submitted}" >
                    <div *ngIf="form.controls['rfc'].errors && submitted">
                        <small class="color-red">Favor de ingresar un rfc válido</small>
                    </div>
                    </div>
                </div>
      
                <!-- mail  -->
      
                <div class="col-md-6"> 
                    <div class="form-group">
                    <label for="mail">Correo electrónico <span class="color-red">*</span> </label>
                    <input type="text" class="form-control" formControlName="mail" id="mail" placeholder="Correo electrónico del cliente..." 
                        [ngClass]="{'is-invalid': form.controls['mail'].errors && submitted}" >
                    <div *ngIf="form.controls['mail'].errors && submitted">
                        <small class="color-red">Favor de ingresar un correo electrónico válido</small>
                    </div>
                    </div>
                </div>  
      
                <!-- region_id  -->
      
                <div class="col-md-6"> 
                    <div class="form-group">
                      <label for="region_id">Región <span class="color-red">*</span> </label>
                      <select class="form-select" formControlName="region_id" id="region_id"
                          [ngClass]="{'is-invalid': form.controls['region_id'].errors && submitted}">
                          <option [ngValue]=null hidden>Selecciona una región...</option>
                          <ng-container *ngFor="let region of regions" >
                              <option *ngIf="region.status == 1" [ngValue]="region.region_id">{{ region.region }}</option>
                          </ng-container>
                      </select>
                      <div *ngIf="form.controls['region_id'].errors && submitted">
                          <small class="color-red">Favor de seleccionar una región válida</small>
                      </div>
                    </div>
                </div>
      
                <!-- address  -->
      
                <div class="form-group">
                  <label for="address">Dirección <span class="color-red">*</span> </label>
                  <textarea rows="2" class="form-control" formControlName="address" id="address" placeholder="Dirección del cliente..." 
                    [ngClass]="{'is-invalid': form.controls['address'].errors && submitted}" >
                  </textarea>
                  <div *ngIf="form.controls['address'].errors && submitted">
                    <small class="color-red">Favor de ingresar una dirección válida</small>
                  </div>
                </div>
            </div>
  
            <!-- button  -->
            
            <div class="form-button">
              <button type="submit" class="btn btn-primary btn-form">Guardar</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </div>